body { background: black; }
.main_body {  background: white; margin-top: 110px; padding-left: 100px; min-width: 1200px; height: 500px; position: relative; z-index: 1; }
.ryu_pics img { width: 659px; height: 494px; }
.ryu_toss img { display: none; }
.ryu_ready img { display: none; }
.key_down img { display: none; }
.hadouken, .ryu-ready, .ryu_pose, .ryu_toss, .keydown{ background-repeat: none; }

.fire_wrap { width: 156px; height: 90px; float: left; position: absolute; z-index: 10; outline: 0px solid red; display: none; top: 167px; left: 580px; }
.toss_text { position: absolute; top: 50px; left: 600px; font-size: 40px; }
.pose_text { position: absolute; top: 250px; left: 700px; font-size: 40px; }

